$dark: #333;
$light-dark: #737373;
$gray: #ccc;
$light-gray: #d9d9d9;
$lighter-gray: #f2f2f2;
$green: #00b300;
$light-green: #ccff99;
$dark-green: #4d9900;
$red: #ff3333;
$light-red: #ffcccc;
$dark-red: #e60000;
$blue: #0000ff;
$light-blue: #b3e0ff;
