.btn-icon {
  cursor: pointer;
  height: 25px;
  padding: 5px;
}

.add-task-icon {
  height: 15px;
  padding: 5px;
}

.icon-bottom-right {
  position: absolute;
  bottom: 5px;
  right: 12px;
}

.delete-icon {
  cursor: pointer;
  height: 25px;
  padding: 5px;
}

.cancel-icon {
  height: 12px;
}

.menu-icon {
  height: 20px;

  &:hover path {
    fill: red;
  }
}