.App-logo {
  animation: App-logo-spin infinite 20s linear;
  width: 225px;
  height: 60px;
}

.logo-wrap {
  display: flex;
  align-items: center;
  max-width: 225px;
  height: 80px;
  background-color: $dark;
  box-sizing: border-box;
  border-bottom: 1px solid $gray;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}