html, body, #root, .app-wrap, .App {
  height: 100%;
}

input {
  box-sizing: border-box;
}

.header {
  display: flex;
  flex: none;
}

.kanban_ui {
  display: flex;
  height: 100%;
}

.kanban_main {
  overflow-x: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: $lighter-gray;
}