.boardview {
  padding: 35px 55px;
}

.boardview__header {
  margin-bottom: 30px;
}

.boardview__name {
  font-size: 2em;
  font-weight: 600;
}

.addColumn {
  display: flex;
  align-items: center;
}

.addColumn-icon {
  height: 11px;
  padding-right: 4px;
}

.addColumn__btn {
  color: $light-dark;
  font-weight: 600;
  font-size: 1.1em;
  cursor: pointer;
}
