.BoardList {
  width: 225px;
  border-right: 1px solid $gray;
}

.boardlist-content {
  padding: 45px 30px;
}

.boardlist-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.boardlist__input {
  min-width: 100%;
  max-width: 100%;
}