.columnsContainer {
  display: flex;
  align-items: flex-start;
}
.column {
  box-sizing: border-box;
  width: 300px;
  max-width: 300px;
  flex: 0 0 300px;
  padding: 0 10px;
}

.column__content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 280px;
}

.column__title {
  font-size: 1.1em;
  font-weight: 600;
}

.column__addButton {
  background-color: #fff;
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}