.dropdown_content {
  display: none;
  width: 75px;
  background-color: #fff;
  border: 1px solid $light-dark;
}

.dropdown-active {
  display: block;
}

.dropdown_link {
  padding: 5px;

  &:hover {
    background-color: $gray;
  }
}