.search-bar {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  flex: 2;
  height: 60px;
  width: auto;
  align-items: center;
}

.search-icon {
  height: 25px;
  margin-left: 1.3em;
}

.search-input {
  border: none;
  outline: none;
  width: 600px;
  font-size: 1.1em;
  margin-left: .5em;
}

.search-input::placeholder {
  color: $light-gray;
}