body {
  font-family: sans-serif;
}

.bold-text {
  color: #fff;
  font-size: .8em;
  font-weight: 600;
  text-transform: uppercase;
}

.icon-right {
  margin-right: 40px;
}

.plain_link {
  text-decoration: none;
  color: #fff;
}